.home {
  background-color: #fcbc30;
  color: white;
  cursor: pointer;
  text-decoration: none;
}
.user {
  background-color: #f2f2f2;
  justify-self: right;
}

.home a {
  color: white;
}
.cart {
  color: #fcbc30;
  border: 1px solid #fcbc30;
  background-color: #fdf6e9;
  text-decoration: none;
}
.cart a {
  color: #fcbc30;
  background-color: #fdf6e9;
}
.Total-cart {
  position: relative;
  cursor: pointer;
  justify-self: right;
}
.Item {
  position: absolute;
  background-color: #09b42f;
  color: white;
  top: -10px;
  left: 30px;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.CartHeader {
  display: grid;
  grid-template-columns: 2fr 65px 65px;
  column-gap: 20px;
}
@media (max-width: 700px) {
}
